
div {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0 0 0 15px;
    font-weight: bold;
    padding-left: 30px;
}

input, button {
    height: 30px;
    border-radius: 8px;
}

input::placeholder {
    text-align: center;
    /* color: #92DBF4; */
}

.header {
    margin: 15px 0;
    padding: 0;
}

.SignInForm {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

.sapceIt {
    margin: 5px 0;
    width: 70%;
}

.buttons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

button {
    padding: 0;
    width: 50%;
    font-weight: bold;
    background: #92DBF4;
    color: #000;
}

.lefthButton{
    margin: 0 2px 0 0;
}

.rightButton{
    margin: 0 0 0 2px;
}

@media screen and (min-width: 800px) {
    .sapceIt {
        width: 50%;
    }

    .buttons {
        width: 50%;
    }
}
