
.addButton {
  width: 50px;
  /* width: 10%; */
  background: #FFF;
}

.roundTodoList {
  border-radius: 8px;
  background: #FFF;
  margin: 10px;
  width: 80%;
}

.wrapTodoList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapInput {
  margin: 0 0 0 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapButton {
  margin: 0 0 0 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.listItems {
  border-radius: 8px;
  padding: 0;
  margin: 0;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faIcons {
  margin: 0 10px;
}

.check {
  color: #92DBF4;
}

.checked {
  color: red;
}

.times {
  color: #CCCBCC;
}

.sapcePlaceholder {
  margin: 0 0 0 30px;
  text-align: left;
  width: 150px;
}

p {
  text-align: left;
  width: 100%;
  margin: 15px;
}
