
div {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
  padding: 0;
  width: 70%;
  font-weight: bold;
}

input, button {
  height: 30px;
}

.header {
  margin: 15px 0;
  padding: 0;
}

.registerForm {
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
