
.navBar {
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleAndIcon {
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    margin: 0 10px;
    width: 35px;
}

h2 {
    color: #92DBF4;
    margin: 0 10px;
}

hr {
    color: #92DBF4;
}

.signOutButton {
    margin: 0 10px;
    width: 80px;
}
